$star-wars-yellow: #ffe81f;


$primary : $star-wars-yellow;

@import "bootstrap";

.nav-pills .nav-link.active {
    background-color: $star-wars-yellow;
    color: black;
}

.carousel-card.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.border-black {
    border-color: black;
}

.bg-stars {
    background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
}
